.formulario{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form {
    margin: 0 auto;
    width: 400px; 
    padding: 16px;
    border-radius: 10px;
}
form ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
li {
    margin-top: 10px;
}
label {
    display: flex;
    text-align: right;
    color:aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}
  
input, textarea {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid aliceblue;
    border-radius: 5px;
}
textarea {
    vertical-align: top;
    height: 80px;
}
button {
    height: 20px;
    width: 80px;
    border-radius: 4px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3 {
    color: aliceblue;
}  