.formulario{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
form {
    margin: 0 auto;
    width: 400px; 
    padding: 1em;
    border-radius: 1em;
}
  
form ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
  
form li + li {
    margin-top: 1em;
}
  
label {
    display: flex;
    text-align: right;
    color:aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    
}
  
input, textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid aliceblue;
    border-radius: 5px;
}
  
input:focus, textarea:focus {
    border-color: #dfd1d1;
}
  
textarea {
    vertical-align: top;
    height: 5em;
}
  

  
button {
    height: 20px;
    width: 80px;
    border-radius: 4px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 {
    color: aliceblue;
    
}  