.engine{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
video {
    height: 500px;
    width: auto;
    border-radius: 25px;
}