.main ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}

li{
    list-style-type: none;
}
p{
    color: aliceblue;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}