.home{
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: end;
    height: 10vh;
    margin-bottom: 10px;
}
.home > p{
    color: aliceblue;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}