header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}
header > nav > ul {
    display: flex;
    gap: 20px;
}
h1 {
    color: aliceblue;
    font-size: 35px;
}    
li{
    list-style-type: none;
}
