footer{
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h3{
    color: aliceblue;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

