*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: black;
}
.container {
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
a:hover{
    color: #ffa500;
}
.homelink.active {
    color: #ffa500;
}
.contactlink.active {
    color:chartreuse;
}
.aboutlink.active {
    color:crimson;
}        


    


