*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    
}
.footer {
    display: flex;
    flex-direction: row;
    bottom: 0;
    position: absolute;
    margin: 20px;
}


