*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: black;
}

a {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color: #ffa500;
}
.homelink.active {
    color: #ffa500;
}
.contactlink.active {
    color:chartreuse;
}
.aboutlink.active {
    color:crimson;
}        


    


