.container {
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.container img{
    height: 250px;
    width: 250px;
    border-radius: 10px;
    box-shadow: rgba(240, 236, 236, 0.672) 0px 5px 15px;
    
}
a {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color: #ffa500;
}