.error{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.notfound{
    height: 400px;
    width: auto;
    margin: 60px;
    
    
}
h2{
    color: aliceblue;
    font-size: 2rem;
}